# ============ OS / Edytor ============
.DS_Store
Thumbs.db
*.swp
*~

# ============ Gradle / Kotlin ============
.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar

# ============ IntelliJ ============
.idea/
*.iml
*.ipr
*.iws
out/

# ============ Java / Spring Boot ============
*.class
*.jar
*.war
*.log
*.tmp
target/

# ============ Secret files / SDK ============
*.jks
*.keystore
secret.properties
.env
local.properties