# ============ OS / Edytor ============
.DS_Store
Thumbs.db

# ============ Gradle / Kotlin ============
.gradle/
.kotlin/
build/

# ============ IntelliJ ============
.idea/
*.iml
*.ipr
*.iws
local.properties
# ============ Java / Spring Boot ============
*.class
*.jar
*.war
*.log
*.tmp
target/

# ============ Secret files ============
*.jks
*.keystore
secret.properties
.env
